* {
  box-sizing: border-box;
}

body {
  background-color: #f1f7e7;
  padding: 0;
  margin: 0;
}

.icon {
  font-size: 1.1rem;
}

.icon-medium {
  font-size: 1.25rem;
}

.icon-big {
  font-size: 1.4rem;
}
